<% hide_location = local_assigns[:hide_location] %>
<% hide_weekday = local_assigns[:hide_weekday] %>
<% hide_time = local_assigns[:hide_time] %>
<div id="<%= dom_id time_slot %>" class="space-y-2">
  <% if time_slot.service_location.present? && !hide_location %>
    <p>
      <strong class="font-semibold">Local:</strong>
      <%= time_slot.service_location.name %>
    </p>
  <% end %>
  <% unless hide_weekday %>
    <p>
      <strong class="font-semibold">Dia da semana:</strong>
      <%= show_week_day time_slot.weekday %>
    </p>
  <% end %>

  <% unless hide_time %>
    <p>
      <strong class="font-semibold">Horário de início:</strong>
      <%= time_slot.start_time.strftime("%H:%M") %>
    </p>

    <p>
      <strong class="font-semibold">Horário de término:</strong>
      <%= time_slot.end_time.strftime("%H:%M") %>
    </p>
  <% end %>
</div>
