<div id="<%= dom_id appointment %>">
  <p>
    <strong>Attendance:</strong>
    <%= appointment.attendance %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= appointment.status %>
  </p>

  <p>
    <strong>Lead:</strong>
    <%= appointment.lead_id %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= appointment.service_id %>
  </p>

</div>
