<div id="<%= dom_id lead %>">
  <p>
    <strong>Name:</strong>
    <%= lead.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= lead.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= lead.address %>
  </p>

  <p>
    <strong>Converted:</strong>
    <%= lead.converted %>
  </p>

</div>
