<% if (doctor? current_user) %>
  <header class="bg-gradient-to-r from-blue-700 via-blue-600 to-blue-500 py-4 shadow-md">
    <nav class="container mx-auto flex items-center justify-between p-6">
      <div class="flex items-center text-white mr-6">
        <span class="font-semibold text-2xl tracking-tight">Lipepay</span>
      </div>
      <% if user_signed_in? %>
        <div class="flex items-center">
          <span class="mr-4 text-white text-base lg:hidden">Olá, <%= current_user.name %></span>
          <span class="hidden mr-4 text-white text-base lg:block">Olá, <%= current_user.name %></span>
          <%= link_to "Sair", main_app.destroy_user_session_path, method: :delete, class: "inline-block text-base px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white" %>
        </div>
      <% end %>
    </nav>
  </header>
<% elsif (referral? current_user) %>
  <header class="relative bg-gradient-to-r from-blue-700 via-blue-600 to-blue-500 py-4 shadow-md">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center">
        <h1 class="text-white text-2xl font-bold mb-4 sm:mb-0">
          <%= link_to "Lipepay", main_app.root_path, class: "text-white hover:text-blue-300" %>
        </h1>

        <% if user_signed_in? %>
          <nav class="text-xl w-full sm:w-auto mt-4 sm:mt-0 flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4">
            <% if allowed_to_access_leads?(current_user) %>
              <%= link_to "Pacientes ausentes", 
                  session[:absent_leads_state] || clinic_management.absent_leads_path, 
                  class: "text-white hover:text-blue-300 #{'active' if controller_name == 'leads'}" %>
            <% end %>
            <%= link_to "Atendimentos", clinic_management.index_by_referral_services_path(user_referral), class: "text-white hover:text-blue-300 #{'active' if controller_name == 'services'}" %>
            <%= link_to "Convites", clinic_management.invitations_path(referral_id: user_referral.id), class: "text-white hover:text-blue-300 #{'active' if controller_name == 'invitations'}" %>
          </nav>

          <div class="relative mt-4 sm:mt-0 w-full sm:w-auto">
            <%= form_with url: search_leads_path, method: :post, data: { remote: true, controller: "debounce" }, class: "flex justify-center" do |search| %>
              <div class="input-field relative w-full">
                <%= search.search_field :q,
                    data: { debounce_target: "input" },
                    id: "search_lead",
                    placeholder: "Busque pelo nome ou telefone...",
                    autocomplete: "off",
                    spellcheck: false,
                    class: "bg-white rounded p-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-transparent",
                    style: "font-size: 16px; padding: 12px;" %>
                <label class="absolute right-2 top-1/2 transform -translate-y-1/2" for="search_lead">
                  <i class="fas fa-search text-gray-500"></i>
                </label>
              </div>
            <% end %>
            <div id="lead-results" class="absolute mt-1 w-full bg-white shadow-lg rounded-b" style="z-index: 1000"></div>
          </div>

          <div class="flex items-center mt-4 sm:mt-0">
            <span class="text-white text-base mr-4">Olá, <%= current_user.name %></span>
            <%= link_to "Sair", main_app.destroy_user_session_path, method: :delete, class: "text-base px-4 py-2 border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white" %>
          </div>
        <% end %>
      </div>
    </div>
  </header>
<% else %>
<header class="relative bg-gradient-to-r from-blue-700 via-blue-600 to-blue-500 py-4 shadow-md">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-wrap justify-between items-center">
      <h1 class="text-white text-2xl font-bold mb-4 sm:mb-0">
        <%= link_to "Lipepay", main_app.root_path, class: "text-white hover:text-blue-300" %>
      </h1>

  <div class="relative" id="search_lead_container">
    <%= form_with url: search_leads_path, method: :post, data: { remote: true, controller: "debounce" }, class: "w-full sm:w-auto flex justify-center sm:justify-start mt-4 sm:mt-0" do |search| %>
      <div class="input-field relative">
        <%= search.search_field :q,
            data: { debounce_target: "input" },
            id: "search_lead",
            placeholder: "Busque pelo nome ou telefone...",
            autocomplete: "off",
            spellcheck: false,
            class: "bg-white rounded p-2 w-full sm:w-auto focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-transparent",
            style: "font-size: 16px; width: 300px; padding: 12px;" %>
        <label class="absolute right-2 top-1/2 transform -translate-y-1/2" for="search_lead">
          <i class="fas fa-search text-gray-500"></i>
        </label>
      </div>
    <% end %>
    <div id="lead-results" class="absolute mt-1 w-full bg-white shadow-lg rounded-b" style="z-index: 1000"></div>
  </div>

      <nav class="text-xl w-full sm:w-auto mt-4 sm:mt-0 flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4">
        <%= link_to "Lista de hoje", clinic_management.index_today_path, class: "text-white hover:text-blue-300 #{'active' if controller_name == 'prescriptions'}" %>
        <% unless clinical_assistant?(current_user) %>
        <%= link_to "Pacientes ausentes", 
            session[:absent_leads_state] || clinic_management.absent_leads_path, 
            class: "text-white hover:text-blue-300 #{'active' if controller_name == 'leads'}" %>
        <% end %>
        <% if is_manager_above? %>
          <%= link_to "Convites", clinic_management.invitations_path, class: "text-white hover:text-blue-300 #{'active' if controller_name == 'invitations'}" %>
          <%= link_to "Tipos de serviço", clinic_management.service_types_path, class: "text-white hover:text-blue-300 #{'active' if controller_name == 'service_types'}" %>
        <% end %>
        <%= link_to "Atendimentos", clinic_management.services_path, class: "text-white hover:text-blue-300 #{'active' if controller_name == 'services'}" %>
        <% unless clinical_assistant?(current_user) %>
        <%= link_to "Regiões", clinic_management.regions_path, class: "text-white hover:text-blue-300 #{'active' if controller_name == 'regions'}" %>
        <%= link_to "Horários de marcações", clinic_management.time_slots_path, class: "text-white hover:text-blue-300 #{'active' if controller_name == 'time_slots'}" %>
        <%= link_to "Mensagens customizadas", clinic_management.lead_messages_path, class: "text-white hover:text-blue-300 #{'active' if controller_name == 'lead_messages'}"  %>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to "Sair", main_app.destroy_user_session_path, method: :delete, class: "text-white hover:text-blue-300" %>
        <% end %>
      </nav>
    </div>
  </div>
</header>


<% end %>

<style>
a.active {
  border-bottom: 2px solid white;
  position: relative;
}

a.active:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}

@media (min-width: 768px) {
  #search_lead {
    width: 500px !important;
  }

  #search_lead_container {
    margin: 0 auto;
    margin-bottom: 24px;
    width: 500px;
  }
}
</style>