
<% if referral? current_user %>
  <header class="bg-blue-600 py-4">
    <nav class="container mx-auto flex items-center justify-between p-6">
      <div class="flex items-center text-white mr-6">
        <span class="font-semibold text-xl tracking-tight">Lipepay</span>
      </div>
      <% if user_signed_in? %>
        <div class="flex items-center">
          <span class="mr-4 text-white lg:hidden">Olá, <%= current_user.name %></span>
          <span class="hidden mr-4 text-white lg:block">Olá, <%= current_user.name %></span>
          <%= link_to "Sair", main_app.destroy_user_session_path, method: :delete, class: "inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white" %>
        </div>
      <% end %>
    </nav>
  </header>
<% else %>
<header class="relative bg-blue-600 py-4">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-wrap justify-between items-center">
      <h1 class="text-white text-xl font-bold mb-4 sm:mb-0">
        <%= link_to "Lipepay", main_app.root_path, class: "text-white hover:text-blue-300" %>
      </h1>

      <div class="relative">
        <%= form_with url: search_leads_path, method: :post, remote: true, class: "w-full sm:w-auto flex justify-center sm:justify-start mt-4 sm:mt-0" do |search| %>
          <div class="input-field relative">
            <input id="search" type="search" name="q" oninput="this.form.requestSubmit()" class="bg-white rounded p-2 w-full sm:w-auto focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-transparent">
            <label class="n absolute right-2 top-1/2 transform -translate-y-1/2" for="search"><i class="fas fa-search text-gray-500"></i></label>
          </div>
        <% end %>
        <div id="lead-results" class="absolute">
        </div>
      </div>

      <nav class="w-full sm:w-auto mt-4 sm:mt-0 flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4">
        <%= link_to "Pacientes", clinic_management.leads_path, class: "text-white hover:text-blue-300 #{'active' if controller_name == 'leads'}" %>
        <%= link_to "Convites", clinic_management.invitations_path, class: "text-white hover:text-blue-300 #{'active' if controller_name == 'invitations'}" %>
        <%= link_to "Regiões", clinic_management.regions_path, class: "text-white hover:text-blue-300 #{'active' if controller_name == 'regions'}" %>
        <%= link_to "Atendimentos", clinic_management.services_path, class: "text-white hover:text-blue-300 #{'active' if controller_name == 'services'}" %>
        <%= link_to "Horários de marcações", clinic_management.time_slots_path, class: "text-white hover:text-blue-300 #{'active' if controller_name == 'time_slots'}" %>
        <%= link_to "Mensagens customizadas", clinic_management.lead_messages_path, class: "text-white hover:text-blue-300 #{'active' if controller_name == 'lead_messages'}"  %>
        <% if user_signed_in? %>
          <%= link_to "Sair", main_app.destroy_user_session_path, method: :delete, class: "text-white hover:text-blue-300" %>
        <% end %>
      </nav>
    </div>
  </div>
</header>


<% end %>

<style>
a.active {
  border-bottom: 2px solid white;
}
</style>