
<% unless doctor?(current_user)%>

      <p>Ordem da fila para impressão:</p>
      <% 40.times do |i| %>
        <span style="padding: 5px"><%= link_to "#{i+1}", generate_order_pdf_path(order_number: i+1, format: :pdf), class: "text-blue-500 hover:text-blue-700", target: "_blank" %></span>
      <% end %>
      <br>

<% end %>

<%#= link_to 'Ver receita em PDF', pdf_appointment_prescription_path(@prescription.appointment, format: :pdf), class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
<br>
<br>
<% if @services.present? %>
      <h1 class="text-3xl font-bold text-gray-900 mb-2">Atendimento de <%= show_week_day @services.last.weekday %></h1>
      <h2 class="text-2xl text-gray-700 mb-1"><%= @services.last.date.strftime("%d/%m/%Y") %></h2>
  <br>
  <br>
  <div class="relative">
    <%= form_with url: search_index_today_path, method: :post, remote: true, class: "w-full sm:w-auto flex justify-center sm:justify-start mt-4 sm:mt-0" do |search| %>
      <div class="input-field relative">
        <input id="search-results" type="search-results" name="q" oninput="this.form.requestSubmit()" class="bg-white rounded p-2 w-full sm:w-auto focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-transparent" placeholder="Busque pelo paciente..." style="font-size: 20px; width: 400px; padding: 15px;">
        <label class="n absolute right-2 top-1/2 transform -translate-y-1/2" for="search-results"><i class="fas fa-search text-gray-500"></i></label>
      </div>
    <% end %>
    <br>
    <div id="appointments-results"></div>
  </div>

    <br>
    <br>
    <br>
    <% @rows.each_with_index do |rows, index| %>

      <% unless doctor?(current_user)%>
        <% if @services.present? %>
          <%= link_to "Encaixar novo paciente", new_patient_fitted_invitations_path(@services[index]), class: "inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-6" %>
          <%= link_to "Página do atendimento", service_path(@services[index]), class: "text-blue-500 hover:text-blue-700" %>
          <br>
          <br>
        <% end %>
      <% end %>
      <h3 class="text-xl text-gray-700 mb-3"><%= @services[index].start_time.strftime('%H:%M') %>h às <%= @services[index].end_time.strftime('%H:%M') %>h</h3>      
      <%= data_table(rows) %>
      <br>
      <br>
    <% end %>
<% else %>
    <br>
    <p>Nenhum atendimento para hoje encontrado.</p>
<% end %>