<!DOCTYPE html>
<html>
<head>
  <title>Receita de Lentes</title>
  <style>
    body {
      font-family: Arial, sans-serif; 
      margin: 0; 
      padding: 0; 
      line-height: 1.6;
    }
    h1 {
      text-align: center; 
      margin-top: 40px; 
      margin-bottom: 20px;
    }
    .description, .note, .contact-info {
      margin: 0 20px 20px 20px;
    }
    table {
      width: 90%; 
      margin: 0 auto 20px auto; 
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #ddd; 
      padding: 10px; 
      text-align: center;
    }
    th {
      background-color: #f2f2f2; 
      font-weight: bold;
    }
    .logo {
      display: block; 
      margin: 20px auto; 
      width: 200px; 
      max-width: 100%; 
      height: auto;
    }
    .qr_code {
      text-align: center; 
      margin: 0 auto;
    }
    .footer-text {
      margin-bottom: 5px;
    }
    .rotate-text {
      transform: rotate(-90deg); 
      margin: 0;
    }
  </style>
</head>

<body>
      <br>

  <div class="header">
    <h1>Dados do Teste de Refração de Acuidade Visual</h1>
  </div>

  <div class="description mt-4">
    <p>Prezado(a) <%= @prescription.appointment.invitation.patient_name.split.first.upcase %>,</p>
    
    <p>
      Seguem abaixo os resultados do seu teste de vista. Esses valores indicam 
      as correções necessárias para a confecção das suas lentes de óculos.
    </p>
  </div>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>ESFÉRICO</th>
        <th>CILINDRO</th>
        <th>EIXO</th>
        <th>ADIÇÃO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Direito (OD)</td>
        <td><%= @prescription.sphere_right.to_f == 0 ? "--" : number_with_precision(@prescription.sphere_right, precision: 2, separator: ',') || "--" %></td>
        <td><%= @prescription.cylinder_right.to_f == 0 ? "--" : number_with_precision(@prescription.cylinder_right, precision: 2, separator: ',') || "--" %></td>
        <td><%= @prescription.axis_right.to_i == 0 ? "--" : (@prescription.axis_right || "--") %></td>
        <td><%= @prescription.add_right.to_f == 0 ? "--" : number_with_precision(@prescription.add_right, precision: 2, separator: ',') || "--" %></td>
      </tr>
      <tr>
        <td>Esquerdo (OE)</td>
        <td><%= @prescription.sphere_left.to_f == 0 ? "--" : number_with_precision(@prescription.sphere_left, precision: 2, separator: ',') || "--" %></td>
        <td><%= @prescription.cylinder_left.to_f == 0 ? "--" : number_with_precision(@prescription.cylinder_left, precision: 2, separator: ',') || "--" %></td>
        <td><%= @prescription.axis_left.to_i == 0 ? "--" : (@prescription.axis_left || "--") %></td>
        <td><%= @prescription.add_left.to_f == 0 ? "--" : number_with_precision(@prescription.add_left, precision: 2, separator: ',') || "--" %></td>
      </tr>
    </tbody>
  </table>

  <div class="note">
    <p class="footer-text">
      Ao optar por confeccionar suas lentes conosco, você conta com a nossa 
      garantia de resultados e assistência. <strong>Oferecemos garantia total de adaptação:</strong> 
      caso não se adapte às novas lentes, nós as refaremos <u>quantas vezes forem necessárias</u>, 
      sempre <strong>sem nenhum custo adicional</strong>, garantindo sua total satisfação.
    </p>
    <p class="footer-text">
      <strong class="text-danger">ATENÇÃO:</strong> Não nos responsabilizamos por revisões desta prescrição por lentes produzidas em outros 
      estabelecimentos. Em caso de dúvidas, nossa equipe está à disposição para 
      ajudá-lo.
    </p>
    <br>
    <div class="date-info">
      <strong>Data:</strong> <%= @prescription.appointment.created_at.strftime("%d/%m/%Y") %>
    </div>
  </div>
    <br>
    <br>
  <div class="contact-info">
    <!-- Logo da Ótica -->
    <div style="text-align: center;">
      <%= image_tag wicked_pdf_asset_base64("otica_logo.jpg"), class: "logo" %>
    </div>

    <p style="text-align: center;">
      Rua Joaquim Nabuco, 99B - Vitória da Conquista - BA<br>
      Telefone: (77) 9.9836-7332 | (77) 9.8804-3621
    </p>

    
  </div>
</body>
</html>
