<h5>Mensagens customizadas</h5>
<br>
<br>
<div class="row">
  <div class="col s12">
    <table class="striped">
      <thead>
        <tr>
          <th>Nome da mensagem</th>
          <th>Tipo</th>
          <th>Texto da mensagem</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @custom_messages.each do |custom_message| %>
          <tr>
            <td><%= custom_message.name %></td>
            <td><%= custom_message.message_type %></td>
            <td><%= custom_message.text %></td>
            <td style="display: inline-flex;">
              <%= link_to 'Editar', edit_custom_message_path(custom_message), class: "btn-small yellow darken-2" %>
              <%= button_to 'Excluir', custom_message, 
                                      method: :delete, 
                                      form: { data: { turbo_confirm: 'Tem certeza que deseja excluir esta mensagem? "' + custom_message.name + '"' } }, 
                                      class: "btn-small red" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col s12">
    <%= link_to 'Criar nova mensagem customizada', new_custom_message_path, class: "btn waves-effect waves-light" %>
  </div>
</div>
