<div class="my-8">
  <h5 class="text-2xl font-bold">Mensagens Customizadas</h5>
</div>

<div class="w-full">
  <% service_types = ClinicManagement::ServiceType.all.order(:name) %>
  <% service_types.each do |service_type| %>
    <% filtered_messages = @messages.select { |m| m.service_type == service_type }.sort_by(&:created_at) %>
    <% if filtered_messages.any? %>
      <h6 class="text-xl font-bold mt-6 mb-4"><%= "#{service_type.name} (#{filtered_messages.count})" %></h6>
      <table class="w-full table-auto border-collapse border border-gray-300 text-left">
        <thead>
          <tr class="bg-gray-100">
            <th class="px-4 py-2">Tipo da Mensagem</th>
            <th class="px-4 py-2">Nome da Mensagem</th>
            <th class="px-4 py-2">Texto da Mensagem</th>
            <th class="px-4 py-2">Ações</th>
          </tr>
        </thead>
        <tbody>
          <% ClinicManagement::LeadMessage.message_types.keys.each do |message_type| %>
            <% type_filtered_messages = filtered_messages.select { |m| m.message_type == message_type } %>
            <% type_filtered_messages.each_with_index do |message, index| %>
              <tr class="border-b border-gray-200 hover:bg-gray-50">
                <td class="px-4 py-2"><%= "#{message.message_type.humanize} ##{index + 1}" %></td>
                <td class="px-4 py-2"><%= message.name %></td>
                <td class="px-4 py-2"><%= message.text %></td>
                <td class="px-4 py-2 space-x-2" style="display: flex;">
                  <%= link_to 'Editar', edit_lead_message_path(message), class: "px-2 py-1 bg-yellow-500 text-white rounded hover:bg-yellow-600" %>
                  <%= button_to 'Excluir', message, method: :delete, data: { confirm: 'Tem certeza que deseja excluir esta mensagem?' }, class: "px-2 py-1 bg-red-500 text-white rounded hover:bg-red-600" %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
  
  <% unassigned_messages = @messages.select { |m| m.service_type.nil? }.sort_by(&:created_at) %>
  <% if unassigned_messages.any? %>
    <h6 class="text-xl font-bold mt-6 mb-4">Mensagens Não Atribuídas (<%= unassigned_messages.count %>)</h6>
    <table class="w-full table-auto border-collapse border border-gray-300 text-left">
      <thead>
        <tr class="bg-gray-100">
          <th class="px-4 py-2">Tipo da Mensagem</th>
          <th class="px-4 py-2">Nome da Mensagem</th>
          <th class="px-4 py-2">Texto da Mensagem</th>
          <th class="px-4 py-2">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% ClinicManagement::LeadMessage.message_types.keys.each do |message_type| %>
          <% type_unassigned_messages = unassigned_messages.select { |m| m.message_type == message_type } %>
          <% type_unassigned_messages.each_with_index do |message, index| %>
            <tr class="border-b border-gray-200 hover:bg-gray-50">
              <td class="px-4 py-2"><%= "#{message.message_type.humanize} ##{index + 1}" %></td>
              <td class="px-4 py-2"><%= message.name %></td>
              <td class="px-4 py-2"><%= message.text %></td>
              <td class="px-4 py-2 space-x-2" style="display: ruby;">
                <%= link_to 'Editar', edit_lead_message_path(message), class: "px-2 py-1 bg-yellow-500 text-white rounded hover:bg-yellow-600" %>
                <%= button_to 'Excluir', message, method: :delete, data: { confirm: 'Tem certeza que deseja excluir esta mensagem?' }, class: "px-2 py-1 bg-red-500 text-white rounded hover:bg-red-600" %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div class="mt-8">
  <%= link_to 'Criar Nova Mensagem Customizada', new_lead_message_path, class: "px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" %>
</div>
