<%= form_with(model: invitation, class: "w-full max-w-lg mx-auto mt-6", id: "new_invitation") do |form| %>
  <% if invitation.errors.any? %>
    <div class="bg-red-200 border-red-600 border-l-4 p-4 mb-6">
      <h2 class="text-red-800 font-bold"><%= pluralize(invitation.errors.count, "erro") %> impediram que o convite fosse salvo:</h2>
      <ul class="list-disc pl-6">
        <% invitation.errors.each do |error| %>
          <li class="text-red-600"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2 class="text-lg font-bold mb-4">1. Dados do marcação</h2>
  <div class="mb-4">
    <% if referral? current_user %>
      <%= form.hidden_field :referral_id, value: user_referral.id %>
    <% else %>
      <%= form.label :referral_id, "Indicador", class: "block text-gray-700 font-bold" %>
      <%= form.collection_select :referral_id, referrals, :id, :name, {selected: referral}, {class: "w-full px-3 py-2 border rounded shadow appearance-none text-gray-700 leading-tight focus:outline-none focus:shadow-outline"} %>
    <% end %>
  </div>
  <div class="mb-4">
    <%= form.label "Dia da marcação", class: "block text-gray-700 font-bold" %>
    <%= form.collection_select :date, 
      [ ["Hoje, " + Date.current.strftime("%d/%m/%Y"), Date.current],
        ["Ontem, " + (Date.current - 1.day).strftime("%d/%m/%Y"), (Date.current - 1.day)],
        ["Há 2 dias, " + (Date.current - 2.days).strftime("%d/%m/%Y"), (Date.current - 2.days)],
        ["Há 3 dias, " + (Date.current - 3.days).strftime("%d/%m/%Y"), (Date.current - 3.days)]
      ], 
      :last, 
      :first,
      {selected: date},
      class: "w-full px-3 py-2 border rounded shadow appearance-none text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    %>
  </div>
   <div class="mb-4">
    <%= form.label "Região", class: "block text-gray-700 font-bold" %>
    <%= form.collection_select :region_id, regions, :id, :name,
          { selected: region }, 
          class: "w-full px-3 py-2 border rounded shadow appearance-none text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>


  <%= form.fields_for :appointments do |appointment_fields| %>
    <div class="mb-4">
      <%= appointment_fields.label "Dia destinado", class: "block text-gray-700 font-bold" %>
      <%= appointment_fields.select :service_id,
      options_for_select(services_list.map { |s| [description_service(s), s.id] }, selected: service),
      {},
      class: "w-full px-3 py-2 border rounded shadow appearance-none text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
  <br>
  <br>
  <h2 class="text-lg font-bold mb-4">2. Dados do convidado</h2>
  <%= form.fields_for :lead do |lead_fields| %>
    <div class="mb-4">
      <label for="lead_phone" class="block text-gray-700 font-bold mb-2">Telefone</label>
      <%= lead_fields.telephone_field :phone, value: "77", maxlength: 11, id: "lead_phone", class: "w-full px-3 py-2 border rounded shadow appearance-none text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder: "779XXXXXXXX"  %>
    </div>
  <% end %>
  <div class="mb-4">
    <%= form.label "Nome do paciente", class: "block text-gray-700 font-bold" %>
    <%= form.text_field :patient_name, class: "w-full px-3 py-2 border rounded shadow appearance-none text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>
  <%= form.fields_for :lead do |lead_fields| %>
    <div class="mb-4">
      <label for="lead_name" class="block text-gray-700 font-bold mb-2">Nome do responsável</label>
      <%= lead_fields.text_field :name, class: "w-full px-3 py-2 border rounded shadow appearance-none text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder: "Deixe em branco se o paciente é o responsável" %>
    </div>

    <div class="mb-4">
      <label for="lead_address" class="block text-gray-700 font-bold mb-2">Endereço</label>
      <%= lead_fields.text_field :address, class: "w-full px-3 py-2 border rounded shadow appearance-none text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="flex mb-2">
      <div class="w-1/2 pr-2">
      <label for="lead_latitude" class="block text-gray-700 font-bold mb-2">Latitude</label>
      <%= lead_fields.text_field :latitude, step: "any", class: "w-full px-3 py-2 border rounded shadow appearance-none text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder: "14...", onInput: "updateCoordinates()" %>
      <div id="latitude_display" class="text-gray-600"></div>
    </div>

    <div class="w-1/2 pl-2">
      <label for="lead_longitude" class="block text-gray-700 font-bold mb-2">Longitude</label>
      <%= lead_fields.text_field :longitude, step: "any", class: "w-full px-3 py-2 border rounded shadow appearance-none text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder: "40...", onInput: "updateCoordinates()" %>
      <div id="longitude_display" class="text-gray-600"></div>
    </div>
  </div>

  <% end %>

  <div class="mb-4">
    <%= form.label "Observações", class: "block text-gray-700 font-bold" %>
    <%= form.text_area :notes, class: "w-full px-3 py-2 border rounded shadow appearance-none text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="my-4">
    <%= form.submit "Adicionar novo paciente", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  <br>
  <br>
  <div class="text-red-700" id="validation"></div>

</div>
<% end %>

<style>
  #longitude_display, #latitude_display {
    font-size: 18px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
  }

  #longitude_display{
    color: #ff0000;
  }

  #latitude_display{
    color: #0000ff;
  }
</style>

<script>
function updateCoordinates() {
  var latitude = document.getElementById("invitation_lead_attributes_latitude").value;
  var longitude = document.getElementById("invitation_lead_attributes_longitude").value;
  var latitudeDisplay = document.getElementById("latitude_display");
  var longitudeDisplay = document.getElementById("longitude_display");
  var latitudeDecimalDisplay = document.getElementById("latitude_decimal_display");
  var longitudeDecimalDisplay = document.getElementById("longitude_decimal_display");

  if (isDecimalFormat(latitude)) {
    latitudeDisplay.textContent = "Latitude decimal";
  } else {
    latitudeDisplay.textContent = formatCoordinate(latitude, "S");
  }

  if (isDecimalFormat(longitude)) {
    longitudeDisplay.textContent = "Longitude decimal";
  } else {
    longitudeDisplay.textContent = formatCoordinate(longitude, "O");
  }
}

function isDecimalFormat(coordinate) {
  return coordinate.includes(".");
}

function formatCoordinate(coordinate, direction) {
  if (coordinate === "") {
    return "";
  }

  var degrees = parseInt(coordinate.slice(0, 2));
  var minutes = parseInt(coordinate.slice(2, 4));
  var seconds = parseInt(coordinate.slice(4, 6));
  var decimals = coordinate.slice(6);

  var formattedSeconds = seconds + "," + decimals;
  var formattedCoordinate = degrees + "°" + minutes + "'" + formattedSeconds + "\"";
  formattedCoordinate += direction === "S" ? "S" : "O";

  return formattedCoordinate;
}
</script>

