<%= form_with(model: invitation, class: "w-full max-w-lg mx-auto mt-6", id: "new_invitation") do |form| %>
  <% if invitation.errors.any? %>
    <div class="bg-red-200 border-red-600 border-l-4 p-4 mb-6">
      <h2 class="text-red-800 font-bold"><%= pluralize(invitation.errors.count, "erro") %> impediram que o convite fosse salvo:</h2>
      <ul class="list-disc pl-6">
        <% invitation.errors.each do |error| %>
          <li class="text-red-600"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2 class="text-lg font-bold mb-4">1. Dados do marcação</h2>
  <div class="mb-4">
    <%#= form.label :referral_id, "Indicador", class: "block text-gray-700 font-bold" %>
    <%#= form.collection_select :referral_id, referrals, :id, :name, {prompt: 'Selecione um indicador'}, {class: "w-full px-3 py-2 border rounded shadow appearance-none text-gray-700 leading-tight focus:outline-none focus:shadow-outline"} %>
  </div>
  <div class="mb-4">
    <%= form.label "Dia da marcação", class: "block text-gray-700 font-bold" %>
    <%= form.collection_select :date, 
      [ ["Hoje, " + Date.today.strftime("%d/%m/%Y"), Date.today],
        ["Ontem, " + (Date.today - 1.day).strftime("%d/%m/%Y"), (Date.today - 1.day)],
        ["Há 2 dias, " + (Date.today - 2.days).strftime("%d/%m/%Y"), (Date.today - 2.days)],
        ["Há 3 dias, " + (Date.today - 3.days).strftime("%d/%m/%Y"), (Date.today - 3.days)]
      ], 
      :last, 
      :first,
      {},
      class: "w-full px-3 py-2 border rounded shadow appearance-none text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    %>
  </div>


  <%= form.fields_for :appointments do |appointment_fields| %>
    <div class="mb-4">
      <%= appointment_fields.label "Dia destinado", class: "block text-gray-700 font-bold" %>
      <%= appointment_fields.select :service_id, options_for_select(@services.map { |s| [description_service(s), s.id] }), {}, class: "w-full px-3 py-2 border rounded shadow appearance-none text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
  <br>
  <br>
  <h2 class="text-lg font-bold mb-4">2. Dados do convidado</h2>
  <%= form.fields_for :lead do |lead_fields| %>
    <div class="mb-4">
      <label for="lead_phone" class="block text-gray-700 font-bold mb-2">Telefone</label>
      <%= lead_fields.telephone_field :phone, value: "77", maxlength: 11, id: "lead_phone", class: "w-full px-3 py-2 border rounded shadow appearance-none text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder: "779XXXXXXXX"  %>
    </div>
  <% end %>
  <div class="mb-4">
    <%= form.label "Nome do paciente", class: "block text-gray-700 font-bold" %>
    <%= form.text_field :patient_name, class: "w-full px-3 py-2 border rounded shadow appearance-none text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>
  <%= form.fields_for :lead do |lead_fields| %>
    <div class="mb-4">
      <label for="lead_name" class="block text-gray-700 font-bold mb-2">Nome do responsável</label>
      <%= lead_fields.text_field :name, class: "w-full px-3 py-2 border rounded shadow appearance-none text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder: "Deixe em branco se o paciente é o responsável" %>
    </div>

    <div class="mb-4">
      <label for="lead_address" class="block text-gray-700 font-bold mb-2">Endereço</label>
      <%= lead_fields.text_field :address, class: "w-full px-3 py-2 border rounded shadow appearance-none text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label "Observações", class: "block text-gray-700 font-bold" %>
    <%= form.text_area :notes, class: "w-full px-3 py-2 border rounded shadow appearance-none text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="my-4">
    <%= form.submit "Adicionar novo paciente", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
</div>
<% end %>
