<div id="<%= dom_id invitation %>">
  <p>
    <strong>Patient name:</strong>
    <%= invitation.patient_name %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= invitation.notes %>
  </p>

  <p>
    <strong>Lead:</strong>
    <%= invitation.lead_id %>
  </p>

  <p>
    <strong>Referral:</strong>
    <%= invitation.referral_id %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= invitation.region_id %>
  </p>


</div>
