<div id="<%= dom_id service %>">
  <p>
    <strong>Weekday:</strong>
    <%= service.weekday %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= service.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= service.end_time %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= service.date %>
  </p>

  <p>
    <strong>Time slot:</strong>
    <%= service.time_slot_id %>
  </p>

</div>
