<div id="<%= dom_id service %>" class="space-y-2">
  <p>
    <strong class="text-gray-700 font-semibold">Dia da Semana:</strong>
    <span class="text-gray-900"><%= show_week_day service.weekday %></span>
  </p>

  <p>
    <strong class="text-gray-700 font-semibold">Início:</strong>
    <span class="text-gray-900"><%= service.start_time.strftime("%H:%M") %>h</span>
  </p>

  <p>
    <strong class="text-gray-700 font-semibold">Término:</strong>
    <span class="text-gray-900"><%= service.end_time.strftime("%H:%M") %>h</span>
  </p>

  <p>
    <strong class="text-gray-700 font-semibold">Data:</strong>
    <span class="text-gray-900"><%= service.date.strftime("%d/%m/%Y") %></span>
  </p>

</div>
