<% if referral? current_user %>
  <%= breadcrumb({title: "Painel de conversões", path: main_app.referral_path(user_referral)},  {title: "Atendimentos de " + @referral.name, path: nil}) %>
<% else %>
<%= breadcrumb({title: "Todos os atendimentos", path: services_path}, {title: "Atendimentos de " + @referral.name, path: nil}) %>
<% end %>

<div class="container mx-auto px-4 mt-6">
  <p class="text-green-500 mb-4"><%= notice %></p>

  <h1 class="text-2xl font-bold mb-6">Atendimentos de <%= @referral.name %></h1>

    <div class="overflow-hidden border-gray-200 sm:rounded-lg">
      <%= data_table(@rows) %>
    </div>
    <br>
    <% if @services.present? %>
      <%= paginate @services %>
    <% end %>
</div>

<style>
.pagination {
  display: flex;
  justify-content: center;
  padding: 1em 0;
}

.pagination li {
  list-style: none;
}

.pagination li a {
  margin: 0 0.5em;
  padding: 0.5em 1em;
  border: 1px solid #e2e8f0; /* border-gray-300 */
  color: #4a5568; /* text-gray-700 */
}

.pagination li.active a,
.pagination li a:hover {
  background-color: #edf2f7; /* bg-gray-200 */
  color: #2d3748; /* text-gray-800 */
}

.pagination li.disabled a {
  color: #a0aec0; /* text-gray-400 */
  cursor: not-allowed;
}

/* If you are using SVG for the icons: */
.pagination li a svg {
  vertical-align: middle;
}
</style>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">