
<%= breadcrumb({title: "Todos os atendimentos", path: services_path}, {title: "Atendimento de " + @service.date.strftime("%d/%m"), path: nil}) %>

<!-- Restante do código da view -->


<div class="container mx-auto px-4 py-8">
  <div class="mb-8">
    <h1 class="text-2xl font-bold text-gray-900">Atendimento de <%= show_week_day @service.weekday %></h1>
    <h2 class="text-xl text-gray-700"><%= @service.date.strftime("%d/%m/%Y") %></h2>
    <h2 class="text-xl text-gray-700"><%= @service.start_time.strftime('%H:%M') %>h às <%= @service.end_time.strftime('%H:%M') %>h</h2>
    <p class="text-gray-600">Lista de convidados do atendimento e informações relacionadas.</p>
  </div>

  <% if @rows.present? %>
    <div class="overflow-hidden border-gray-200 sm:rounded-lg">
      <%= data_table(@rows, 5) %>
    </div>
  <% else %>
    <div class="bg-white shadow sm:rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <h2 class="text-xl font-medium text-gray-900">Nenhum convite encontrado.</h2>
        <p class="mt-2 text-sm text-gray-600">Não há convites cadastrados no sistema.</p>
      </div>
    </div>
  <% end %>
</div>


<style>


</style>

<script>

  // Adjust freezed columns to run

document.addEventListener("DOMContentLoaded", function() { 
  var table = document.querySelector('table');

  for (let row of table.rows) {
    let widths = [];
    let cells = row.cells;
    let cellLength = cells.length;

    for (let i = 0; i < cellLength; i++) {
      widths.push(cells[i].offsetWidth);
    }

    for (let i = 0; i < cellLength; i++) {
      let cell = cells[i];
      if (cell.classList.contains('sticky')) {
        cell.style.position = 'sticky';
        cell.style.left = widths.slice(0, i).reduce((a, b) => a + b, 0) + 'px';
        cell.style.backgroundColor = 'white';
        cell.style.borderBottom = '1px solid #dee2e6';
      }
    }
  }
})



</script>