<!DOCTYPE html>
<html>
<head>
  <title>Clinic management</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <%= javascript_importmap_tags %>
  <%#= stimulus_include_tags %>
  
  <%= stylesheet_link_tag "clinic_management/application", media: "all", "data-turbo-track": "reload" %>
  
  <script src="https://cdn.tailwindcss.com"></script>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <%= stylesheet_link_tag "clinic_management/table", "data-turbo-track": "application" %>
  <%= stylesheet_link_tag "clinic_management/table", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "clinic_management/main", "data-turbo-track": "reload" %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Move custom styles here to ensure they are loaded before the body renders -->
  <style>
    @media (min-width: 768px) {
      #main-container {
        margin-left: 280px;
      }
    }

    @media (max-width: 768px) {
      #main-container {
        display: flex;
      }
    }
  </style>
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal" style="margin-bottom: 200px">
  <%= render "clinic_management/shared/navbar" %>
  <%= render "clinic_management/shared/scroll_buttons" %>
  <%= content_for?(:breadcrumb) ? yield(:breadcrumb) : '' %>
  <br>
  <br>
  <br>
  <main class="my-8" id="main-container">
    <div class="container mx-auto">
      <%= yield %>
    </div>
  </main>

  <footer class="bg-gradient-to-r from-emerald-900 via-emerald-800 to-emerald-900 py-4 mt-16 fixed bottom-0 inset-x-0 shadow-md" style="z-index: 2000">
    <div class="container mx-auto text-center">
      <p class="text-white text-base font-medium">
        &copy; <%= Time.now.year %> - <%= yield(:footer) || "Nome da sua empresa" %>
      </p>
    </div>
  </footer>
</body>
</html>